        @media (max-width: 991px) {
            .header {
                width: 90%;
                &__logo {
                    img {
                        width: 80%;
                    }
                }
            }
            .promo {
                &__wrapper {
                    width: 90%;
                }
                &__header {
                    font-size: 35px;
                }
                &__subheader {
                    font-size: 18px;
                }
            }
        }
        
        @media (max-width: 575px) {
            .header {
                &__official {
                    display: none;
                }
                &__logo {
                    img {
                        padding-right: 10px;
                    }
                }
            }
            .promo {
                &__header {
                    font-size: 25px;
                }
                &__subheader {
                    font-size: 13px;
                }
                &__icons {
                    width: 270px;
                }
                &__icon {
                    font-size: 12px;
                }
                .button_main {
                    width: 260px;
                }
            }
            .advantages {
                .title {
                    font-size: 25px;
                }
            }
            .consultation {
                .title {
                    &_left {
                        font-size: 18px;
                    }
                }
                &__descr {
                    width: 240px;
                    font-size: 15px;
                }
                .feed-form {
                    width: 250px;
                }
            }
        }