                    @media (max-width: 991px) {
                        .header {
                            width: 90%;
                            &__logo {
                                img {
                                    width: 80%;
                                }
                            }
                        }
                        .promo {
                            &__wrapper {
                                width: 90%;
                            }
                            &__header {
                                font-size: 35px;
                            }
                            &__subheader {
                                font-size: 18px;
                            }
                        }
                    }
                    
                    @media (max-width: 575px) {
                        .header {
                            &__official {
                                display: none;
                            }
                            &__logo {
                                img {
                                    padding-right: 10px;
                                }
                            }
                        }
                        .promo {
                            &__header {
                                font-size: 25px;
                            }
                            &__subheader {
                                font-size: 13px;
                            }
                            &__icons {
                                width: 270px;
                            }
                            &__icon {
                                font-size: 12px;
                            }
                            .button_main {
                                width: 260px;
                            }
                        }
                        .advantages {
                            .title {
                                font-size: 25px;
                            }
                        }
                        .consultation {
                            .title {
                                &_left {
                                    font-size: 18px;
                                }
                            }
                            &__descr {
                                width: 240px;
                                font-size: 15px;
                            }
                            .feed-form {
                                width: 250px;
                            }
                        }
                    }
                    
                    @media (max-width: 991px) {
                        .carousel {
                            &__inner {
                                width: 600px;
                                img {
                                    width: 80%;
                                    display: block;
                                    margin: 0 auto;
                                }
                            }
                            .slick-dots {
                                display: flex;
                                justify-content: center;
                                li {
                                    list-style: none;
                                }
                                button {
                                    width: 20px;
                                    height: 20px;
                                    border-radius: 100%;
                                    font-size: 0;
                                    outline: 0;
                                    background: grey;
                                    border: none;
                                    margin-right: 10px;
                                    transition: 0.5s all;
                                    cursor: pointer;
                                    &:active {
                                        background: red;
                                    }
                                }
                            }
                        }
                        .reviews {
                            &_text {
                                width: 100%;
                            }
                        }
                    }
                    
                    @media (max-width: 767px) {
                        .carousel {
                            &__inner {
                                width: 500px;
                            }
                        }
                        .catalog {
                            &__tab {
                                width: 200px;
                                font-size: 11px;
                            }
                        }
                        .reviews {
                            &_text {
                                width: 100%;
                                margin-bottom: 40px;
                            }
                            &__item {
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                align-items: center;
                                margin-top: 30px;
                            }
                            &_photo {
                                margin-bottom: 20px;
                            }
                            &__descr {
                                padding-left: 0px;
                            }
                            &__fullname {
                                text-align: center;
                            }
                            &_subtitle {
                                text-align: center;
                            }
                        }
                    }
                    
                    @media (max-width: 575px) {
                        .carousel {
                            &__inner {
                                width: 350px;
                            }
                        }
                        .catalog {
                            .title {
                                font-size: 25px;
                            }
                        }
                        .footer {
                            &__info {
                                width: 100%;
                                height: 250px;
                            }
                            &__social {
                                width: 100%;
                            }
                        }
                        .modal {
                            width: 320px;
                            &__subtitle {
                                font-size: 14px;
                            }
                            &__close {
                                right: -25px;
                            }
                            &__descr {
                                font-size: 12px;
                            }
                        }
                        .feed-form {
                            width: 240px;
                        }
                        .pageup {
                            display: none;
                            img {
                                display: none;
                            }
                        }
                    }
                    
                    @media (max-width: 360px) {
                        .carousel {
                            &__inner {
                                width: 300px;
                            }
                        }
                        .catalog {
                            &__tab {
                                width: 200px;
                                font-size: 10px;
                            }
                        }
                        .footer {
                            &__addr {
                                font-size: 15px;
                                margin-bottom: 15px;
                            }
                            &__phone {
                                font-size: 15px;
                                margin-bottom: 15px;
                            }
                        }
                        .modal {
                            width: 280px;
                            &__subtitle {
                                font-size: 12px;
                            }
                            &__close {
                                right: -25px;
                            }
                            &__descr {
                                font-size: 10px;
                            }
                        }
                        .feed-form {
                            width: 220px;
                        }
                        .pageup {
                            right: 100px;
                            width: 30px;
                            height: 40px;
                        }
                    }