    .advantages {
        min-height: 470px;
        padding: 70px 0 78px 0;
        background-color: #f6f6f6;
        &__item {
            margin-top: 65px;
        }
        &__icons {
            img {
                display: block;
                margin: 0 auto;
            }
            &_animated {
                animation: heartbeat 1s ease infinite;
                &:hover {
                    animation-play-state: paused;
                }
            }
        }
        &__caption {
            margin: 0 auto;
            text-align: center;
            margin-top: 38px;
            color: #0d0d0d;
            font-size: 18px;
            font-weight: 700;
        }
        &__descr {
            margin: 0 auto;
            text-align: center;
            margin-top: 25px;
            width: 247px;
            color: #0d0d0d;
            font-size: 13px;
            font-weight: 300;
            span {
                color: #ff0000;
            }
        }
    }